---
layout: page
title : Histórico de entradas
header : Histórico de entradas
group: navigation
language: es
---
{% include JB/setup %}

<!--
{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}
-->

{% assign first_post = true %}
{% for post in site.pages reversed %}
	{% if post.language == page.language and post.layout == 'post' %}

	    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	    {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}

		{% if first_post == true %}
		  <h2>{{this_year}}</h2>
	      <h3>{% assign m = this_month | date: "%-m" %}
				{% case m %}
				  {% when '1' %}Enero
				  {% when '2' %}Febrero
				  {% when '3' %}Marzo
				  {% when '4' %}Abril
				  {% when '5' %}Mayo
				  {% when '6' %}Junio
				  {% when '7' %}Julio
				  {% when '8' %}Agosto
				  {% when '9' %}Septiembre
				  {% when '10' %}Octubre
				  {% when '11' %}Noviembre
				  {% when '12' %}Diciembre
				{% endcase %}
			</h3>
	      <ul>
	    {% else %}  
	      {% if this_year != next_year %}
	        </ul>
	        <h2>{{this_year}}</h2>
	        <h3>{{this_month}}</h3>
	        <ul>
	      {% else %}    
	        {% if this_month != next_month %}
	          </ul>
	          <h3>{{this_month}}</h3>
	          <ul>
	        {% endif %}
	      {% endif %}
	    {% endif %}
	  
	    {% assign first_post = false %}
	  	{% assign next_year = this_year %}
	  	{% assign next_month = this_month %}
	    <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> &raquo;	 <span> escrito el 
				{% assign m = post.date | date: "%-m" %}
				{{ post.date | date: "%-d" }}
				{% case m %}
				  {% when '1' %}Enero
				  {% when '2' %}Febrero
				  {% when '3' %}Marzo
				  {% when '4' %}Abril
				  {% when '5' %}Mayo
				  {% when '6' %}Junio
				  {% when '7' %}Julio
				  {% when '8' %}Agosto
				  {% when '9' %}Septiembre
				  {% when '10' %}Octubre
				  {% when '11' %}Noviembre
				  {% when '12' %}Diciembre
				{% endcase %}
				{{ post.date | date: "%Y" }}
	    	</span>
		</li>
	{% endif %}
{% endfor %}
</ul>

